@import "../styles/variables";

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 1rem;
  //calc full height less header height
  height: calc(100% - 3rem);
  background-color: $backgroundColor;
}