$mainColor: #FFe600;
$backgroundColor: #EEEEEE;
$fontColor: #333333;
$secondaryFontColor: #666666;
$tertiaryFontColor: #999999;
$white: #FFFFFF;
$buttonBackground: #3483FA;
$smallPadding: 16px;
$mediumPadding: 32px;
$largePadding: 64px;
$smallMargin: 16px;
$mediumMargin: 32px;
$smallGap: 16px;
$mediumGap: 32px;