@import "../styles/variables";

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px 96px;
  //calc full height less header height
  height: calc(100% - 48px);
  width: 100%;
  background-color: $backgroundColor;
  overflow: hidden auto;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 16px 24px;
  }
}