@import "@/styles/variables";

.main {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  //calc full height less header height
  height: 100%;
  width: 100%;
  overflow: hidden auto;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: $smallGap;
  box-sizing: border-box;
  background-color: $backgroundColor;
}

@media screen and (max-width:900px) {
  .main {
    padding: $smallPadding 24px;
  }
}