@import "@/styles/variables";

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    background-color: $white;
    padding: $mediumPadding $largePadding;
    gap: $smallGap;
    margin-top: $mediumMargin;
}

.title {
    font-weight: 500;
    color: $fontColor;
}

.detail {
    font-weight: 200;
    color: $secondaryFontColor;
    font-size: 14px;

    li {
        margin-bottom: 8px;

        strong {
            font-weight: 500;
        }

        a {
            color: $buttonBackground;
            text-decoration: none;
        }
    }
}